mat-form-field {
    width: 200px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.wrap{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px; 
    background-color: #f5f5f5; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    align-items: center;
    }