<div class="text-effect-wrapper">
    <div class="snackbar-container">
        <h2 class="neon">Войти как:</h2>
        <div class="button-group">
            <button 
                class="neon button" 
                mat-raised-button 
                mat-dialog-close="admin">
                Админ
            </button>
            <button 
                class="neon button" 
                mat-raised-button 
                mat-dialog-close="user">
                Пользователь
            </button>
        </div>
    </div>
</div>
